{% if controlButtons is not null %}
    <ul class="control-buttons">
    {% for button_name in controlButtons.buttons %}
        {% set label = 'button.' ~ button_name %}
        <li>
            <button type="submit" id="{{ controlButtons.form_name }}_{{ button_name }}" class="button {{ button_name }}"
                    name="{{ controlButtons.form_name }}[{{ button_name }}]">
                {{ label|trans }}
            </button>
        </li>
    {% endfor %}
    </ul>
{% endif %}