<ul class="control-buttons control-buttons-top">
    {% if buttons.new %}
    <li>
        <a href="{{ path(buttons.new.path) }}" class="button new">
            {{ (not buttons.new.label is empty ? buttons.new.label : 'Add')|raw }}
        </a>
    </li>
    {% endif %}
</ul>
