{% extends 'book/base.html.twig' %}

{# Clear page header #}
{% block dashboar_header %}{% endblock %}

{% block body %}
<div class="dashboard">

    <div class="column">
        <div class="block">
            <h4>Welcome {{ user.name }}!</h4>
            <div>Its seller area</div>
        </div>
    </div>

    <div class="column column-central">
    </div>

    <div class="column">
        <div class="block">
            Empty block
        </div>
    </div>

</div>
{% endblock %}

