<div class="block data-grid">
    <div class="header">
        {% if app_link is defined %}
            <a href="{{ path(app_link) }}"><span>{{ title }}</span></a>
        {% else %}
            <span>{{ title }}</span>
        {% endif %}
    </div>
    <ul class="data-grid-table">
        {% for label,value in data_grid %}
            <li>
                <span>{{ value }}</span>
                <small>{{ label|trans }}</small>
            </li>
        {% endfor %}
    </ul>
</div>