* {-webkit-box-sizing: border-box; box-sizing: border-box; }
html, body {margin: 0; padding: 0; width:100%; height: 100%; display: flex;}
body { font-family: 'Noto Sans HK', sans-serif; display: flex; flex-direction: column;}

/* Global styles */
a { color:#4A90E2; text-decoration: none; cursor: pointer}
img, embed, object, video, svg { width:100%; height:auto; display:block;}
.flex { display: flex; justify-content: space-between; flex-wrap: wrap}
.flex-center { justify-content: center; align-items: center}
.flex-start { justify-content: flex-start; align-items: center}
.flex-column { flex-direction: column}
.full-width { width: 100%}
.full-width-padding { padding: 0 1%; width: 100%;}

/* Header */
header {padding:0 10px; width: 100%; height: 40px; background: #027CD5;  position: relative; display: flex;
    justify-content: space-between;}
header a {color:#fff}

.dashboard-page-header { padding: 15px 20px; width: 100%; background:#f2f2f2; border-bottom:1px solid #ccc; display: flex; justify-content: space-between}
.dashboard-page-header .page-title { font-size: 150%}
.dashboard-page-header .page-title-main { margin-bottom: 5px; font-size: 60%; color:#777}
.dashboard-page-header .page-title-sub { font-size: 80%}

/* Product Listing */
.listing-wrapper { display: flex; justify-content: center}
.listing { margin: 20px 0; width: 95%; border-collapse: collapse}
.listing thead { width: 95%; height: 40px; color:#777; background: #f7f7f7; border-collapse: collapse}
.listing td { padding: 5px; text-align: center; border: 1px solid #ccc}
.listing a {color:#47a7fc}
.listing .product-details { text-align: left; display: flex; }
.listing .product-name a { text-overflow: ellipsis}
.listing .product-sku { margin-top: 5px; font-size: 90%; color:#777 }
.icon-item-publish {color:#2ce28a}
.icon-item-unpublish {color:#cd0930}
.icon-item-process {font-size: 140%; color: #4b80d1}
.ajaxOnOff { cursor: pointer}

/* Product edit form */
.product-form { margin:20px 0; display: flex; justify-content: space-between; flex-wrap: wrap}
.product-form .form-col2 { width:45%; display: flex; flex-direction: column}

/* User form */
.user-roles, .user-roles ul { list-style: none}
.user-roles .juro-checkbox { height: 20px}

/* Forms */
.form-center { max-width: 400px; margin: 0 auto}
.form-user { margin: 0 auto; padding: 10px; width:90%; max-width: 1200px; align-items: flex-start}
.form-row { display: flex; justify-content: space-between; flex-wrap: wrap}
.juro-block {margin: 0 10px 30px; padding: 10px 0 0; width: 95%; position: relative; }
.form-user .juro-block { width: 100%;}
.form-field-error { margin:0; padding: 0; list-style: none; color:red; font-size:14px; text-align: left;
    /*position: absolute; bottom:10px;*/
}
.juro-input input {    display: block;    width: 100%;    padding: 0 10px;    line-height: 40px;
    background: none;    border-width: 0;
    border-bottom: 2px solid #4a90e2;    transition: all 0.2s ease;}
.juro-input label, .juro-select label {    position: absolute;    left: 13px;    color: #9d959d;    font-size: 20px;
    font-weight: 300; transform: translateY(-35px);    transition: all 0.2s ease;
}
.juro-input input:focus {    outline: 0;    border-color: #F77A52;}
.juro-input input:focus + label,
.juro-input input:disabled + label,
.juro-filled label, .juro-select.juro-filled label
{
    transform: translateY(-60px);    margin-left: -14px;
    font-size: 14px;    font-weight: 400;    outline: 0;     color: #F77A52;
    display: block;
}
.juro-input input:disabled {border-color: #ccc}
.juro-input input:disabled + label {color: #ccc}

.juro-textarea textarea { width: 100%; min-height: 150px; border: 2px solid #4a90e2}
.juro-textarea label { color: #F77A52}

/* Forms - Select */
.juro-select select { padding: 0 10px; width: 100%; height:40px; line-height: 40px; font-size: 20px; color:#9d959d;
    background: none;    border: 0; border-bottom: 2px solid #4a90e2; display: block;
    -webkit-appearance: none;  -moz-appearance: none;  appearance: none;
}
.juro-select option {color:#000; font-size: 16px}
.juro-select option:first-child {color:#ccc}
.juro-select label { display: none}
.juro-select-arrow { right:10px; top:30%;  width:0; height: 0; border: 7px solid transparent;   border-top-color:#4a90e2; border-bottom:0; position:absolute}

/* Forms - checkbox */
.juro-checkbox { margin: 0 0 20px 0; height: 40px; position: relative}
.juro-checkbox input[type='checkbox'] { width: 0; height: 0; display: none }
.juro-checkbox input[type='checkbox'] + label{  position: relative;    display: flex;    margin: .6em 0;
    align-items: center;    color: #4A90E2; transition: color 250ms cubic-bezier(.4,.0,.23,1); cursor: pointer;
}
.juro-checkbox input[type='checkbox'] + label > span{ font-size: 24px; display: flex;    justify-content: center;    align-items: center;
    margin-right: 10px;    width: 1em;    height: 1em;    background: transparent;    border: 2px solid #4A90E2;
    border-radius: 2px;    cursor: pointer;    transition: all 250ms cubic-bezier(.4,.0,.23,1); overflow: hidden;
}
.juro-checkbox input[type='checkbox'] + label:hover, input[type='checkbox']:focus + label{    color: #000;}
.juro-checkbox input[type='checkbox'] + label:hover > span, input[type='checkbox']:focus + label > span{
    background: rgba(255,255,255,.1);
}
.juro-checkbox input[type='checkbox']:checked + label > span{
    border: .5em solid #4A90E2;
    animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
}
.juro-checkbox input[type='checkbox']:checked + label > span:before{    content: "";    position: absolute;
    top: .4em;    left: .2em;  border-right: 3px solid transparent;    border-bottom: 3px solid transparent;
    transform: rotate(45deg);    transform-origin: 0% 100%;
    animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;
}
@keyframes shrink-bounce{
    0%{ transform: scale(1);}
    33%{ transform: scale(.85);}
    100%{ transform: scale(1);}
}
@keyframes checkbox-check{
    0%{ width: 0;  height: 0; border-color: #fff; transform: translate3d(0,0,0) rotate(45deg); }
    33%{ width: .2em; height: 0; transform: translate3d(0,0,0) rotate(45deg);    }
    100%{ width: .2em; height: .5em; border-color: #fff; transform: translate3d(0,-.5em,0) rotate(45deg);}
}

/* Control buttons */
.control-buttons { margin:15px auto; padding: 0; list-style: none; display:inline-flex; justify-content: space-between; flex-wrap: wrap}
.control-buttons.control-buttons-top { margin:0 auto}
.button { margin: 0 15px; padding:0 15px 0 0; height:40px; font-size:1.2em; border-radius: 5px; position: relative;
    transition:.5s; cursor:pointer; overflow:hidden;
    display: inline-flex; justify-content: center; align-items: center; border:1px solid #ccc}
.button:hover {color:#fff !important;}

.button:before { margin-right: 10px; width:40px; height: 40px; color:rgba(255,255,255,.7); font-size: 1.2em;
    font-family: "Font Awesome\ 5 Free", sans-serif; transition: .5s; opacity: .5;
    display: flex; justify-content: center; align-items: center}
.button:hover:before {opacity: 1}

.button.save { color:#FF4500; border-color:#FF4500; background-color:rgba(255, 63, 0, .1)}
.button.save:hover {background-color:rgba(255, 63, 0, 1)}
.button.save:before {content: "\f058"; background-color:rgba(255, 63, 0, 1) }

.button.saveAndExit {color:#57B846; border-color:#57B846; background-color:rgba(87, 184, 70, .1) }
.button.saveAndExit:hover {background-color:#57B846 }
.button.saveAndExit:before {content: "\f0c7"; background-color:rgba(87, 184, 70, 1) }

.button.cancel {color:#777; border-color:#777; background-color:rgba(119, 119, 119, .1) }
.button.cancel:hover {background-color:#777 }
.button.cancel:before {content: "\f410"; background-color:rgba(119, 119, 119, 1) }

.button.new {color:#54b3f7; border-color:#54b3f7; background-color:rgba(84, 179, 247, .1) }
.button.new:hover {background-color:#54b3f7 }
.button.new:before {content: "+"; background-color:rgba(84, 179, 247, 1) }

/* System messages */
.message-container { margin: 10px auto; padding: 0; width: 95%; list-style: none; display: flex; flex-direction: column}
.message { margin: 10px 0; padding:15px 10px; width: 100%; color:#fff; /*border: 1px solid;*/ border-radius: 5px; position: relative}
.message-close { top:1px; right: 5px; font-size:14px; position: absolute; opacity: .7; display: none}
.message-error { color: #D8000C; background: #FFBABA;}
.message-info { color: #00529B; background: #BDE5F8;}
.message-success { color: #4F8A10; background: #DFF2BF;}
.message-warning { color: #9F6000; background: #FEEFB3;}
.message-validation-error { color: #D63301; background: #FFCCBA;}
