/* Mobile first */
* { box-sizing: border-box;}
html { width: 100%; height: 100%}
body { margin:0; padding:0; width:100%; height: 100%; background:#fff; font-family: 'Noto Sans HK', sans-serif; display: flex; flex-direction: column}

/* Global styles */
a { color:#4A90E2; text-decoration: none;}
img, embed, object, video, svg { width:100%; height:auto; display:block;}
.flex { display: flex; justify-content: space-between; flex-wrap: wrap}
.flex-center { justify-content: center; align-items: center}
.flex-start { justify-content: flex-start; align-items: center}
.flex-column { flex-direction: column}
.full-width { width: 100%}
.full-width-padding { padding: 0 1%; width: 100%;}

/* Header */
header {padding:0 10px; width: 100%; height: 50px; background: #027CD5;  position: relative; display: flex;
    justify-content: space-between; align-items: center;}
header a {color:#fff}

/* Top menu*/
.top-menu {  padding: 0; list-style: none; display: flex;}
.top-menu li a { margin-right:20px; color:#fff; }
.top-menu li:last-child a { margin-right: 0}

/* Top login form */
.top-login-form {display: flex; align-items: center}
.top-login-input { margin-right: 5px; width: 150px; height: 40px;}

.dashboard-page-header { padding: 15px 20px; width: 100%; background:#f2f2f2; border-bottom:1px solid #ccc; display: flex; justify-content: space-between}
.dashboard-page-header .page-title { font-size: 150%}

/* Dashboard */
.dashboard {width: 100%; background: #F1F3F6; position: relative; flex:auto; display: flex; justify-content: space-between; flex-wrap: wrap; align-items: flex-start }
.dashboard .column { margin: 1%; width: 25%; }
.dashboard .block { margin-bottom:10px; padding: 1%; width: 100%; background: #fff; }
.dashboard .column-central { margin: 1% 0; flex-grow: 2; display: flex}
.dashboard .data-grid {padding: 0; }
.dashboard .data-grid .header { padding: 0 3%; height: 40px; border-bottom:1px solid #ccc; display: flex; align-items: center}
.dashboard .data-grid-table { margin: 0; padding: 0; list-style: none; display: flex; justify-content: stretch}
.dashboard .data-grid-table li { padding:10px; border-right:1px solid #ccc; flex: 1; display: flex; align-items: center; flex-direction: column}
.dashboard .data-grid-table li:last-child {border:0}
.dashboard .data-grid-table span { margin-bottom:10px; font-size:180%;}

/* Hamburger */
#menu-toggle { right:0;    width: 40px;    height: 40px; background: rgba(255, 255, 255, 0.4); border-radius: 5px;
    position: absolute; cursor: pointer; }
#menu-toggle * { transition: .2s ease-in-out; }
#menu-toggle:hover { background: rgba(255, 255, 255, 0.3);}
#menu-toggle span { background: #fff;    border-radius: 2px;   display: block;}
#menu-toggle #hamburger { width: 100%;  height: 100%; position: absolute;}
#menu-toggle #hamburger span { top: 9px; left: 8px; margin: 4px 0; width: 24px; height: 2px;  position: relative;}
#menu-toggle #hamburger span:nth-child(1) { transition-delay: .5s;}
#menu-toggle #hamburger span:nth-child(2) { transition-delay: .625s;}
#menu-toggle #hamburger span:nth-child(3) { transition-delay: .75s;}
#menu-toggle #cross { width: 100%;  height: 100%; position: absolute; transform: rotate(45deg);}
#menu-toggle #cross span:nth-child(1) { top: 10%; left: 19px; width: 3px; height: 0%; position: absolute;
    transition-delay: 0s;}
#menu-toggle #cross span:nth-child(2) { left: 10%; top: 19px; width: 0%; height: 3px; position: absolute;
    transition-delay: .25s;}

#menu-toggle.open #hamburger span { width: 0%;}
#menu-toggle.open #hamburger span:nth-child(1) { transition-delay: 0s;}
#menu-toggle.open #hamburger span:nth-child(2) { transition-delay: .125s;}
#menu-toggle.open #hamburger span:nth-child(3) { transition-delay: .25s;}
#menu-toggle.open #cross span:nth-child(1) { height: 80%; transition-delay: .625s;}
#menu-toggle.open #cross span:nth-child(2) { width: 80%; transition-delay: .375s;}

/* Promo slider */
.promo-slide { margin-top: 100px; width: 100%; height: 250px; display: flex; justify-content: flex-end;
    background: url('../images/homepage-seller.jpg') #fff no-repeat 20% 0;    }
.become-seller { max-width: 500px}
.become-seller span { font-size: 2.5em}
.become-seller a { margin:20px; padding:0 15px; font-size: 2em; line-height: 2em; border-radius: 5px }

/* Forms */
.form-center { max-width: 400px; margin: 0 auto}
.form-user { margin: 0 auto; padding: 10px; width:90%; max-width: 1200px; align-items: flex-start}
.form-row { display: flex; justify-content: space-between; flex-wrap: wrap}
.juro-block {margin: 0 10px 30px; padding: 10px 0 0; width: 95%; position: relative; }
.form-user .juro-block { width: 100%;}
.form-field-error { margin:0; padding: 0; list-style: none; color:red; font-size:14px; text-align: left;
    /*position: absolute; bottom:10px;*/
    }
.juro-input input {    display: block;    width: 100%;    padding: 0 10px;    line-height: 40px;
    background: none;    border-width: 0;
    border-bottom: 2px solid #4a90e2;    transition: all 0.2s ease;}
.juro-input label, .juro-select label {    position: absolute;    left: 13px;    color: #9d959d;    font-size: 20px;
    font-weight: 300; transform: translateY(-35px);    transition: all 0.2s ease;
}
.juro-input input:focus {    outline: 0;    border-color: #F77A52;}
.juro-input input:focus + label,
.juro-input input:disabled + label,
.juro-filled label, .juro-select.juro-filled label
{
    transform: translateY(-60px);    margin-left: -14px;
    font-size: 14px;    font-weight: 400;    outline: 0;     color: #F77A52;
    display: block;
}
.juro-input input:disabled {border-color: #ccc}
.juro-input input:disabled + label {color: #ccc}

.juro-textarea textarea { width: 100%; min-height: 150px; border: 2px solid #4a90e2}
.juro-textarea label { color: #F77A52}


/* Forms - Select */
.juro-select select { padding: 0 10px; width: 100%; height:40px; line-height: 40px; font-size: 20px; color:#9d959d;
    background: none;    border: 0; border-bottom: 2px solid #4a90e2; display: block;
    -webkit-appearance: none;  -moz-appearance: none;  appearance: none;
}
.juro-select option {color:#000; font-size: 16px}
.juro-select option:first-child {color:#ccc}
.juro-select label { display: none}
.juro-select-arrow { right:10px; top:30%;  width:0; height: 0; border: 7px solid transparent;   border-top-color:#4a90e2; border-bottom:0; position:absolute}

/* Forms - checkbox */
.juro-checkbox { margin: 0 0 20px 0; height: 40px; position: relative}
.juro-checkbox input[type='checkbox'] { width: 0; height: 0; display: none }
.juro-checkbox input[type='checkbox'] + label{  position: relative;    display: flex;    margin: .6em 0;
    align-items: center;    color: #4A90E2; transition: color 250ms cubic-bezier(.4,.0,.23,1); cursor: pointer;
}
.juro-checkbox input[type='checkbox'] + label > span{ font-size: 24px; display: flex;    justify-content: center;    align-items: center;
    margin-right: 1em;    width: 1em;    height: 1em;    background: transparent;    border: 2px solid #4A90E2;
    border-radius: 2px;    cursor: pointer;    transition: all 250ms cubic-bezier(.4,.0,.23,1); overflow: hidden;
}
.juro-checkbox input[type='checkbox'] + label:hover, input[type='checkbox']:focus + label{    color: #000;}
.juro-checkbox input[type='checkbox'] + label:hover > span, input[type='checkbox']:focus + label > span{
    background: rgba(255,255,255,.1);
}
.juro-checkbox input[type='checkbox']:checked + label > span{
    border: .5em solid #4A90E2;
    animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
}
.juro-checkbox input[type='checkbox']:checked + label > span:before{    content: "";    position: absolute;
    top: .4em;    left: .2em;  border-right: 3px solid transparent;    border-bottom: 3px solid transparent;
    transform: rotate(45deg);    transform-origin: 0% 100%;
    animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;
}
@keyframes shrink-bounce{
    0%{ transform: scale(1);}
    33%{ transform: scale(.85);}
    100%{ transform: scale(1);}
}
@keyframes checkbox-check{
    0%{ width: 0;  height: 0; border-color: #fff; transform: translate3d(0,0,0) rotate(45deg); }
    33%{ width: .2em; height: 0; transform: translate3d(0,0,0) rotate(45deg);    }
    100%{ width: .2em; height: .5em; border-color: #fff; transform: translate3d(0,-.5em,0) rotate(45deg);}
}

/* Buttons */
.btn { padding:0 15px; height:40px; font-size:1.2em; background:none; border-radius:5px; display:inline-flex; justify-content:center; align-items:center; transition:.5s; cursor:pointer}
.btn-top-login { color:#000; background: #FFDE14; border: 0}
.btn-green {color:#57B846; border:1px solid #57B846; background-color:rgba(87, 184, 70, .1)}
.btn-green:hover {color:#fff; border-color:rgba(87, 184, 70, .1); background-color:rgba(87, 184, 70, .6)}
.btn-orange-red {color:#FF4500; border:1px solid #FF4500; background-color:rgba(255, 63, 0, .1)}
.btn-orange-red:hover {color:#fff; background-color:rgba(255, 63, 0, 1)}
.btn-blue {color:#1E90FF; border:1px solid #1E90FF; background-color:rgba(30, 144, 255, .1)}
.btn-blue:hover {color:#fff; border-color:rgba(30, 144, 255, .1); background-color:rgba(30, 144, 255, .6)}
.btn-red {color:#DC143C; border:1px solid #DC143C; background-color:rgba(220, 20, 60, .1)}
.btn-red:hover {color:#fff; border-color:rgba(220, 20, 60, .1); background-color:rgba(220, 20, 60, .6)}

/* Control buttons */
.control-buttons { margin:15px auto; padding: 0; list-style: none; display:inline-flex; justify-content: space-between; flex-wrap: wrap}
.button { margin: 0 15px; padding:0 15px 0 0; height:40px; font-size:1.2em; border-radius: 5px; position: relative;
    transition:.5s; cursor:pointer; overflow:hidden;
    display: inline-flex; justify-content: center; align-items: center; border:1px solid #ccc}
.button:hover {color:#fff !important;}

.button:before { margin-right: 10px; width:40px; height: 40px; color:rgba(255,255,255,.7); font-size: 1.2em;
    font-family: "Font Awesome\ 5 Free", sans-serif; transition: .5s; opacity: .5;
    display: flex; justify-content: center; align-items: center}
.button:hover:before {opacity: 1}

.button.save { color:#FF4500; border-color:#FF4500; background-color:rgba(255, 63, 0, .1)}
.button.save:hover {background-color:rgba(255, 63, 0, 1)}
.button.save:before {content: "\f058"; background-color:rgba(255, 63, 0, 1) }

.button.saveAndExit {color:#57B846; border-color:#57B846; background-color:rgba(87, 184, 70, .1) }
.button.saveAndExit:hover {background-color:#57B846 }
.button.saveAndExit:before {content: "\f0c7"; background-color:rgba(87, 184, 70, 1) }

.button.cancel {color:#777; border-color:#777; background-color:rgba(119, 119, 119, .1) }
.button.cancel:hover {background-color:#777 }
.button.cancel:before {content: "\f410"; background-color:rgba(119, 119, 119, 1) }

/* Product Listing */
.status-buttons { padding: 10px 30px; width: 100%; list-style: none; border-bottom:1px solid #ccc; display: flex; align-items: center}
.status-buttons li a { padding: 10px; width:150px; color:#000; border:1px solid #ccc; display: flex; flex-direction: column}
.listing-wrapper { display: flex; justify-content: center}
.listing { width: 95%; border-collapse: collapse}
.listing thead { width: 95%; height: 40px; color:#777; background: #f7f7f7; border-collapse: collapse}
.listing td { padding: 5px; text-align: center; border: 1px solid #ccc}
.listing a {color:#47a7fc}
.listing .product-details { text-align: left; display: flex; }
.listing .product-name a { text-overflow: ellipsis}
.listing .product-sku { margin-top: 5px; font-size: 90%; color:#777 }
.icon-item-publish {color:#2ce28a}
.icon-item-unpublish {color:#cd0930}
.icon-item-process {font-size: 140%; color: #4b80d1}
.ajaxOnOff { cursor: pointer}

/* Product edit form */
.product-form { margin:20px 0; display: flex; justify-content: space-between; flex-wrap: wrap}
.product-form .form-col2 { width:45%; display: flex; flex-direction: column}

/* Pagination */
.pagination { display: flex; justify-content: center}
.paginator { list-style: none; display: flex; justify-content: center; flex-wrap: wrap }
.paginator li {margin: 0 0px; height: 40px; display: flex; justify-content: center;}
.paginator a, .paginator span { padding: 0 5px; min-width: 40px;  outline: 1px solid #ccc; display: flex; justify-content: center; align-items: center}
.paginator span {outline: 0}

/* System messages */
.message-container { margin: 10px auto; padding: 0; width: 95%; list-style: none; display: flex; flex-direction: column}
.message { margin: 10px 0; padding:15px 10px; width: 100%; color:#fff; /*border: 1px solid;*/ border-radius: 5px; position: relative}
.message-close { top:1px; right: 5px; font-size:14px; position: absolute; opacity: .7; display: none}
.message-error { color: #D8000C; background: #FFBABA;}
.message-info { color: #00529B; background: #BDE5F8;}
.message-success { color: #4F8A10; background: #DFF2BF;}
.message-warning { color: #9F6000; background: #FEEFB3;}
.message-validation-error { color: #D63301; background: #FFCCBA;}

.is-mobile { display: flex }
.is-desktop { display: none !important;}
/* Wider then mobile */
@media (min-width: 768px)  {
    .is-mobile { display: none !important;}
    .is-desktop { display: flex !important;}
    .form-user .juro-block { width: 40%;}
}