<meta charset="UTF-8">
<title>{{ title }}</title>

{% if description %}
    <meta name="description" content="{{ description }}">
{% endif %}

<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1.0">
