{# System messages #}
{% set messageArr = app.flashes() %}
{% if messageArr %}
    <ul class="message-container">
        {% for key,messages in messageArr %}
            <li class="message message-{{ key }}">
                {% for message in messages %}
                    <span>{{ message|trans([], 'security')|raw }}</span>
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
