{% if paginator.haveToPaginate %}
    {% set queryString = paginator.queryString|default([]) %}
    <div class="pagination">
        <ul class="paginator">
            {% if paginator.hasPreviousPage %}
                {% set queryString = queryString|merge({ 'page': paginator.previousPage } ) %}
                <li class="prev"><a href="{{ path(paginator.routeName, queryString) }}" rel="previous">&#10094;</a></li>
            {% else %}
                <li class="prev disabled"><span>&#10094;</span></li>
            {% endif %}

            {% if paginator.leftPoints %}
                {% set queryString = queryString|merge({ 'page': NULL } ) %}
                <li class=""><a href="{{ path(paginator.routeName, queryString) }}">1</a></li>
                <li class=""><span>...</span></li>
            {% endif %}

            {% for i in paginator.startFromPage..paginator.stopOnPage %}
                {% if i == paginator.currentPage %}
                    <li class="active"><span>{{ i }}</span></li>
                {% else %}
                    {% set queryString = i != 1 ? queryString|merge({ 'page': i } ) : queryString|merge({ 'page': NULL } )  %}
                    <li><a href="{{ path(paginator.routeName, queryString) }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if paginator.rightPoints %}
                <li class=""><span>...</span></li>

                {% set queryString = queryString|merge({ 'page': paginator.numPages } ) %}
                <li class=""><a href="{{ path(paginator.routeName, queryString) }}">{{ paginator.numPages }}</a></li>

            {% endif %}

            {% if paginator.hasNextPage %}
                {% set queryString = queryString|merge({ 'page': paginator.hasNextPage } ) %}
                <li class="prev"><a href="{{ path(paginator.routeName, queryString) }}" rel="next">&#10095;</a></li>
            {% else %}
                <li class="next disabled">&#10095;</li>
            {% endif %}
        </ul>
    </div>
{% endif %}
