{#
<ul class="top-menu">
    <li><a href="{{ path('app_book_dashboard') }}">Home</a></li>
    <li><a href="{{ path('app_book_product_listing') }}">Listing</a></li>
    {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('app_book_user_listing') }}">Listing</a></li>
    {% endif %}
</ul>
#}

{% block top_menu %}
<nav class="main-nav" role="navigation">

    <!-- Mobile menu toggle button (hamburger/x icon) -->
    <input id="main-menu-state" type="checkbox" />
    <label class="main-menu-btn" for="main-menu-state">
        <span class="main-menu-btn-icon"></span> Toggle main menu visibility
    </label>

    <!-- Sample menu definition -->
    <ul id="top-menu" class="sm sm-clean">

        <li><a href="{{ path('app_book_dashboard') }}">Dashboard</a></li>

        {% if has_any_child_role(['ROLE_ADMIN', 'ROLE_CUSTOMER']) %}
        <li>
            <a>Catalog</a>
            <ul>
                <li><a href="#">Customers</a>
                    <ul>
                        <li><a href="#">Add customer</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a>System</a>
            <ul>
                <li><a href="{{ path('app_book_user_listing') }}">Users</a></li>
            </ul>
        </li>
        {% endif %}

    </ul>
</nav>
{% endblock %}

{% block javascript_topmenu %}
    <link href="{{ asset('css/smartmenu.css') }}" rel="stylesheet">
    <link href="{{ asset('css/lib/sm-core-css.css') }}" rel="stylesheet">
    <link href="{{ asset('css/lib/sm-clean.css') }}" rel="stylesheet">

    <script>
        document.addEventListener(
            "DOMContentLoaded", () => {
        // SmartMenus init
            $('#top-menu').smartmenus({
                mainMenuSubOffsetX: -1,
                mainMenuSubOffsetY: 4,
                subMenusSubOffsetX: 6,
                subMenusSubOffsetY: -6
            });

        // SmartMenus mobile menu toggle button
            var $mainMenuState = $('#main-menu-state');
            if ($mainMenuState.length) {
                // animate mobile menu
                $mainMenuState.change(function(e) {
                    var $menu = $('#top-menu');
                    if (this.checked) {
                        $menu.hide().slideDown(250, function() { $menu.css('display', ''); });
                    } else {
                        $menu.show().slideUp(250, function() { $menu.css('display', ''); });
                    }
                });
                // hide mobile menu beforeunload
                $(window).bind('beforeunload unload', function() {
                    if ($mainMenuState[0].checked) {
                        $mainMenuState[0].click();
                    }
                });
            }
        });

    </script>
{% endblock %}