{{ form_start(form) }}
<div class="form-errors">
    {{ form_errors(form) }}
</div>

<div class="product-form">
    <div class="form-col2">
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
    </div>

    <div class="form-col2">
        {% set roles = user.roles %}
        <ul class="user-roles">
        {% for role, childRoles in userRoles %}
            <li>
                <div class="juro-block juro-checkbox">
                    {% set checked = "" %}
                    {% if role in user.roles %}
                        {% set checked = "checked" %}
                    {% endif %}
                    <input id="{{ role }}" type="checkbox" name="user_roles[]" value="{{ role }}" {{ checked }}>
                    <label for="{{ role }}"><span></span>{{ role }}</label>
                </div>
                {% if childRoles is defined %}
                <ul>
                    {% for childRole in childRoles if userRoles[childRole] is not defined %}
                    <li>
                        {% set checked = "" %}
                        {% if childRole in user.roles %}
                            {% set checked = "checked" %}
                        {% endif %}
                        <div class="juro-block juro-checkbox">
                            <input id="{{ childRole }}" type="checkbox" name="user_roles[]" value="{{ childRole }}" {{ checked }}>
                            <label for="{{ childRole }}"><span></span>{{ childRole }}</label>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>


    {{ include('form/control-buttons-inside-form.html.twig') }}

    {#<div class="flex flex-center full-width-padding">
        <div class="juro-block">
            <button type="submit" class="btn btn-orange-red full-width">
                {{ 'button.save'|trans }}
            </button>
        </div>
    </div>#}

</div>
{{ form_end(form) }}