{% extends 'book/base.html.twig' %}

{# For block page_title at base.html.twig #}
{%  set page_title_main = 'Edit user' %}
{%  set page_title_sub = user.name %}

{% block body %}
    {{ include('book/user/_user_form.html.twig') }}
{% endblock %}

