{% extends 'book/base.html.twig' %}

{% block page_title %}User Managment{% endblock %}

{# Clear original messages block #}
{% block system_messages %}{% endblock %}

{% block page_options %}
    {{ include('form/control-buttons-top.html.twig', { buttons : { new : { label : 'Add', path : 'app_book_user_add'} } }) }}
{% endblock %}

{% block body %}

    {# Show messages where comfortable in this case #}
    {{ include('system/messages.html.twig') }}

    {#{ include('system/paginator.html.twig') }#}

    <div class="listing-wrapper">
    {%  if paginator.items is not null  %}
        <table class="listing">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Group</td>
                    <td>Last activity</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
            {% for user in paginator.items %}
            <tr>
                <td>
                    {{ user.id }}
                </td>
                <td>
                    <a href="{{ path('app_book_user_edit', { userId: user.id }) }}">{{ user.name }}</a>
                </td>
                <td>
                    {{ user.email }}
                </td>
                <td>
                </td>
                <td>
                    {{ user.loggedAt|date("d.m.Y H:i:s") }}
                </td>
                <td>
                    {{ include('system/ajax/on_off_icon.html.twig', {'ajaxItemId' : user.id, 'ajaxPublish' : user.allowed}) }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Sorry, users not found</p>
    {% endif %}
    </div>

    {#{ include('seller/cpanel/common/paginator.html.twig') }}

    {{ include('seller/cpanel/common/ajax/on_off_script.html.twig') }#}

{% endblock %}

