<script>
    {# Const defined at twig.yaml #}
    const iconPublish = '{{ icon.publish|raw }}';
    const iconUnpublish = '{{ icon.unpublish|raw }}';
    const iconLoading = '{{ icon.loading|raw }}';

    document.addEventListener('DOMContentLoaded', function() {
        $(document).on("click", ".ajaxOnOff", function(){
            let t = $(this), oldIcon = t.html();
            t.html(iconLoading);
            $.ajax({
                url: "{{ url(ajax.urlOnOff) }}",
                cache: false,
                type: "POST",
                dataType: 'json',
                data: { id : t.data('id') },
                success: function(j){
                    if(j.status) {
                        j.publish ? t.html(iconPublish) : t.html(iconUnpublish);
                    }
                    else
                        t.addClass(oldIcon)
                }
            });
        });
    }, false);

</script>
