<!DOCTYPE html>
<html>
    <head>
        {#{ render(controller('App\\Service\\HelperService::renderHeadSection')) }#}

        <link href="{{ asset('css/lib/normalize.css') }}" rel="stylesheet">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap" rel="stylesheet" type="">
        <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">

        <meta name="robots" content="noindex, nofollow">

    </head>
<body>
    <header>
        {{ block('top_menu', 'book/header/top-menu.html.twig') }}
        <a href="{{ path('app_logout') }}">Logout</a>
    </header>

    {% block dashboar_header %}
    <div class="dashboard-page-header">
        <div class="page-title">
            {% block page_title %}
                {% if page_title_main is defined %}
                    <div class="page-title-main">{{ page_title_main }}</div>
                {% endif %}
                {% if page_title_sub is defined %}
                    <div class="page-title-sub">{{ page_title_sub }}</div>
                {% endif %}
            {% endblock %}
        </div>
        <div class="page-options">{% block page_options %}{% endblock %}</div>
    </div>
    {% endblock %}

    {% block system_messages %}
        {{ include('system/messages.html.twig') }}
    {% endblock %}

    {% block body %}{% endblock %}

    <footer></footer>

    <script src="{{ asset('js/lib/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/lib/jquery.smartmenus.js') }}"></script>
    {% block javascripts %}{% endblock %}

    {{ block('javascript_topmenu', 'book/header/top-menu.html.twig') }}

</body>
</html>
