<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login - Accounts</title>
    <link href="{{ asset('css/login.css') }}" rel="stylesheet">

    <meta name="robots" content="noindex, nofollow">
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">

            {{ include('system/messages.html.twig') }}

            <!-- Tabs Titles -->
            <h2 class="active"> Welcome </h2>
            <!--h2 class="inactive underlineHover">Sign Up </h2-->

            <!-- Icon >
            <div class="fadeIn first">
                <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
            </div-->

            <!-- Login Form -->
            <form method="post">
                <input type="text" id="login" class="fadeIn second" name="email" placeholder="email">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Log In">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <input id="_remember_me" type="hidden" name="_remember_me" checked>
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>

        </div>
    </div>
</body>
</html>
